
/**Fondo de pantalla*/
body {
    background-image: url('../../imagenes/fondoprivado.svg');
    background-color: #04151d;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/** Estilo para el h2 */
#mainTitle {
    color: white; /* Cambia el color del texto a blanco */
    text-align: center; /* Centra el texto */
}