.contenedorTotal {
    min-height: 50vh;
    max-height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    padding: 30px;
}

.columna1,
.columna2 {
    height: 100%;
}

.contenedorImg {
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.contenedorReseñas {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.imgShoe {
    width: 100%;
    min-height: 20%;
    object-fit: cover;
}

.titleReseñas {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: fit-content;
    left: 0;
}

.contenedorComentarios {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 550px;
    max-height: 550px;
}

.comentario {
    border-bottom: 0px solid gray;
    border-radius: 15px;
}

.comentarioBody {
    margin-left: 55px;
}

.comentarioDesc {
    margin-left: 20px;
}

.comentarioFooter {
    margin-right: 20px;
}

.estrellasImg {
    display: block;
}

.estrellasNum {
    display: none;
}

.columna2 {
    padding-left: 45px;
}


@media screen and (max-width: 380px) {
    .comentarioBody {
        margin-left: 0px;
    }

    .comentarioDesc {
        margin-left: 0px;
    }

    .comentarioFooter {
        margin-right: 0px;
    }

    .estrellasImg {
        display: none;
    }

    .estrellasNum {
        display: block;
    }
    .columna2 {
        padding-left: 0px;
    }
}

.circuloColor {
    width: 25px;
    height: 25px;
    margin: 10px;
    border-radius: 100px;
}

.contenedorTallas
{
    background-color: white;

}