.contenedorTotal {
    min-height: 50vh;
    max-height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    padding: 30px;
}

.columna1,
.columna2 {
    height: 100%;
}

.contenedorImg {
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.contenedorReseñas {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.imgShoe {
    width: 100%;
    min-height: 20%;
    object-fit: cover;
}

.titleReseñas {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: fit-content;
    left: 0;
}

.contenedorComentarios {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 550px;
    max-height: 550px;
}

.comentario {
    border-bottom: 0px solid gray;
    border-radius: 15px;
}

.comentarioBody {
    margin-left: 55px;
}

.comentarioDesc {
    margin-left: 20px;
}

.comentarioFooter {
    margin-right: 20px;
}

.estrellasImg {
    display: block;
}

.estrellasNum {
    display: none;
}

.columna2 {
    padding-left: 45px;
}


@media screen and (max-width: 380px) {
    .comentarioBody {
        margin-left: 0px;
    }

    .comentarioDesc {
        margin-left: 0px;
    }

    .comentarioFooter {
        margin-right: 0px;
    }

    .estrellasImg {
        display: none;
    }

    .estrellasNum {
        display: block;
    }

    .columna2 {
        padding-left: 0px;
    }
}

@media screen and (max-width: 767px) {
    .contenedor1 {
        flex-wrap: wrap-reverse;
    }
}

.contenedor1 {
    display: flex;
    flex-direction: row;
}

.contenedorTallas {
    background-color: white;

}

.contenedorFilaTallas {
    border-radius: 5px;
    min-width: 100%;
    max-width: 100%;
    min-height: min-content;
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cuadradoTalla {
    background-color: white;
    border: 1px solid #5F5F5F;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    width: 60px;
    height: 60px;
    transition: .3s ease-in-out;
}

.cuadradoTalla:hover {
    transform: translateY(-5px);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background-color: #EDEDED;
}

/*----------------------------------- SWEET ALERT ---------------------------- */
.title {
    color: #4A4B4D;
}

.lineaIzq {
    height: 100%;
    width: 15px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.contenedorImg {
    width: 100%;
    height: fit-content;
}

.imgHombre {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.contenedorCuerpo {
    align-items: center;
    height: fit-content;
}

.btn2 {
    background-color: white;
    color: black;
    border: 1px solid #EDEDED;
}