.img1 {
    padding-bottom: 10px;
    margin-right: 50px;
}

.imgMarca {
    width: 80px;
    height: 80px;
}

.copyright {
    border: #1591CC 2px solid;
    width: 70%;
    padding: 20px;
    border-left: 0;
    border-right: 0;
}

#header {
    height: fit-content;
    width: 100%;
}

.carrusel {
    margin-top: 90px;
    height: fit-content;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carruselA {
    display: flex;
    justify-content: start;
    width: 100%;
}
@media screen and (min-width: 667px) {
    .cards-wrapper {
        display: flex;
    }

    .cardM {
        margin: 25px;
        width: calc(100%/5);
    }

    .image-wrapper {
        height: 16vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-wrapper img {

        width: 16vw;
        height: 16vw;
    }
}

@media screen and (max-width: 666px) {
    .cardM:not(:first-child) {
        display: none;
    }

    .image-wrapper img {
        width: 100vw;
        height: 30vh;
    }

    .cards-wrapper {
        display: flex;
    }

    .image-wrapper {
        height: 20vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.linea {
    background-color: #146A93;
    width: 100%;
    height: 3px;
}

.a {
    width: 30px;
}


.containerCards {
    width: 99vw;
}

@media screen and (max-width: 666px) {
    #cardC {
        margin: 15px;
        margin-left: 30px;
        width: calc(80%/1);
    }

    .image-wrapper2 img {
        width: 80vw;
        height: 30vh;
    }

    .image-wrapper2 {
        height: 30vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 667px) {
    #cardC {
        margin: 15px;
        margin-left: 30px;
        width: calc(90%/3);
    }


    .image-wrapper2 img {
        width: 30vw;
        height: 50vh;
        object-fit: cover;
    }

    .image-wrapper2 {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.lineImgC
{
    background-color: #1591CC;
    width: 100%;
    height: 4px;
}