body{
    background-image:url('../../imagenes/1FONDO.svg');
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* No se repite la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo al desplazarse */
}

.mainContent {
    height: 100vh;
}


.ContenedorForm{
    background-color: white;
    border-radius: 20px;
    /*width: 35%;*/
    height: fit-content;
    padding-bottom: 20px;
}


.titulo{
    font-size: 36px;
}

.textoBienvenida{
    font-size: 16px;
    color: #5F5F5F;
}

.botonIngreso{
    background-color: #0D4560; 
    width: 100%;
}


.bordesAzul{
    border-color: #146A93;
}

.contraseña, .correo{
    padding: 15px;
}

.ContenedorRegistro{
    background-color: white;
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 160px;
}


.texto{
    width: 100%;
    padding-left: 50px ;
}

.ContenedorImg{
    padding-left: 50px ;
    padding-bottom: 20px;
    width: 100%;
}

.botonIngreso1{
    width: 80%;
}

.botonIngreso{
    color: white;
    background-color: #0D4560;
}

.textoT{
    font-size: 40px;
}

#password1{
    width: 50vw;
}