html,
body,
main {
    min-width: 100%;
}

main {
    min-height: 50vh;
}

.space {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item.dropdown:hover .dropdown-menu .dropdown-item:hover {
    background-color: #0D4560;
    border-radius: 10px;
}

h6 {
    font-size: 18px;
}

.contenedorMarcas {
    min-width: 528px;
    max-width: max-content;
}

@media screen and (max-width: 1180px) {
    .contenedorMarcas {
        min-width: 400px;
        max-width: max-content;
    }
}

@media screen and (max-width: 1045px) {
    .contenedorMarcas {
        min-width: 265px;
        max-width: max-content;
    }
}

@media screen and (max-width: 970px) {
    .contenedorMarcas {
        min-width: fit-content;
        max-width: max-content;
    }
}

.btmFooter {
    background-color: rgba(0, 0, 0, 0.2)
}

.topFooter {
    background-color: #1591CC;
    height: 30px;
}


/* Sweet alert */
.swal2-popup {
    font-family: "Titillium Web", sans-serif; /* Estilo de fuente para el popup de SweetAlert */
}

.swal2-title {
    font-family: "Titillium Web", sans-serif; /* Estilo de fuente para el título de SweetAlert */
}

.swal2-content {
    font-family: "Titillium Web", sans-serif; /* Estilo de fuente para el contenido de SweetAlert */
}

.swal2-actions button {
    margin: 10px; /* Margen alrededor de los botones de SweetAlert */
    width: 100px; /* Ancho de los botones de SweetAlert */
}