.containerHeader {
    width: 100%;
    min-height: 450px;
}

.lineab1 {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: white;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 50vw solid #1A89BD;
    border-top: 0;
    border-bottom: 100vh solid transparent;
}


.titleWho {
    text-align: center;
}

.containerHoWeAre {
    background-color: white;
    border-top: gray 3px solid;
    border-bottom: gray 3px solid;
}

.containerMembers {
    height: fit-content;
}

.imguser {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: bottom;
}

.containerMision,
.containerVision,
.containerValores,
.containerComienzo {
    border: 2px solid gray;
    height: 90vh;
}



@media screen and (min-width: 768px) {
    .containerMision {
        border-bottom-right-radius: 500px;
    }

    .containerVision {
        border-bottom-left-radius: 500px;
    }

    .containerValores {
        border-top-right-radius: 500px;
    }

    .containerComienzo {
        border-top-left-radius: 500px;
    }

}

@media screen and (max-width: 767px) {

    .containerMision {
        border-bottom-right-radius: 500px;
        border-top-right-radius: 500px;
    }

    .containerVision,
    .containerValores,
    .containerComienzo {
        margin-top: 35px;
        border-bottom-right-radius: 500px;
        border-top-right-radius: 500px;
    }


}